<main class="grid grid-cols-1 max-md-:grid-rows-2 md:grid-cols-2 h-[calc(100dvh-64px)] overflow-hidden">
  <div class="flex flex-col items-center text-center justify-center p-6 sm:p-10 gap-6 relative">
    <h1 class="font-bold text-5xl sm:text-5xl text-orange-600 font-lobster text-balance mb-6">
      Toutes vos recettes favorites en un seul clic !
    </h1>
    <h2 class="font-semibold text-2xl text-balance">
      Ajoutez et gérez toutes vos recettes facilement pour gagner du temps !
    </h2>
    <app-animated-button animation="fill" tagName="a" link="/recipes" className="text-xl font-semibold">
      C'est parti !
    </app-animated-button>
    <img src="/images/color-cooklove.png" class="md:hidden absolute w-1/3 bottom-6 translate-x-1/3 right-0" alt="">
  </div>
  <div class="max-md:hidden flex flex-col items-center justify-center overflow-hidden p-4">
    <img src="/images/color-cook.png" class="object-contain h-full w-full" alt="" />
  </div>
</main>
